* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li {
    max-width: 600px;
}

h1 {
    font-size: 2.5em;;
}

h2 {
    text-decoration: underline;
}

#home-title {
    background-color: rgba(217, 236, 236, 0.966);
}

.home-link {
    font-size: 1.5em;
}

.page-wrapper {
    margin: 20px;
    width: 700px;
}
